form p {
    position: relative;
}

input[type=text], input[type=password], input[type=submit] {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    height: 2.625rem;
    padding: .5rem;
    border: 1px solid #dddddd;
    border-radius: 4px;
    outline: none;
    font-size: 1.125rem;
    font-family: inherit;
    color: inherit;
}

input::placeholder {
    font-size: .95rem;
    /* padding-left: .5rem; */
}

input[type=submit] {
    /* padding: 1rem; */
    border: 1px solid #66d5a2;
    color: #00b964;
    cursor: pointer;
    background: transparent;
    height: 2.825rem;
    font-size: 1.05rem;
}

input[type=submit]:hover {
    border-color: #00a056;
    color: #00a056;
}

/* moving part */

input:focus~.floating-label, input:not(:focus):valid~.floating-label {
    top: -9px;
    bottom: 10px;
    left: 20px;
    font-size: .8rem;
    opacity: 1;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    transition: 0.2s ease all;
    background: #ffffff;
    color: #525252;
    height: 1rem;
    padding: 0 .2rem;
}